* {
  /* font-family: Comfortaa; */
  font-family: 'Patrick Hand', cursive;
  /* font-family: 'Indie Flower', cursive; */
}
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Patrick+Hand&display=swap');


.home Img {
 
  height:auto;
  margin-top: -260px;
  margin-left: -120px;
  border-radius: 20%;
  max-width: 50%;
  max-height: 50%;
}
.Page1-pics1{
  position: fixed;
  max-width: 110px;
  max-height: 170px;
  border-radius: 5px;
  margin: 5px;
  margin-top: 100px;
}
.Page1-pics2{
  position: fixed;
  max-width: 110px;
  max-height: 170px;
  border-radius: 5px;
  margin-top: 100px;
  margin-left: 130px;
}
.Page1-pics3{
  position: fixed;
  max-width: 110px;
  max-height: 170px;
  border-radius: 5px;
  margin: 5px;
  margin-top: 100px;
  margin-left: 260px;
}
.Page1-pics4{
  position: fixed;
  max-width: 110px;
  max-height: 170px;
  border-radius: 5px;
  margin: 5px;
  margin-top: 100px;
  margin-left: 390px;
}
.Page1-pics5{
  position: fixed;
  max-width: 110px;
  max-height: 170px;
  border-radius: 5px;
  margin: 5px;
  margin-top: 100px;
  margin-left: 520px;
}
.Page1-pics6{
  position: fixed;
  max-width: 110px;
  max-height: 170px;
  border-radius: 5px;
  margin: 5px;
  margin-top: 100px;
  margin-left: 650px;
}
.Page1-pics7{
  position: fixed;
  max-width: 110px;
  max-height: 170px;
  border-radius: 5px;
  margin: 5px;
  margin-top: 180px;
  margin-left: 650px;
}
.Page1-pics8{
  position: fixed;
  max-width: 110px;
  max-height: 170px;
  border-radius: 5px;
  margin: 5px;
  margin-top: 100px;
  margin-left: 910px;
}
.Page1-pics9{
  position: fixed;
  max-width: 110px;
  max-height: 170px;
  border-radius: 5px;
  margin: 5px;
  margin-top: 100px;
  margin-left: 1040px;
}
.Page1-pics10{
  position: fixed;
  max-width: 110px;
  max-height: 170px;
  border-radius: 5px;
  margin: 5px;
  margin-top: 180px;
  margin-left: 1040px;
}
.Page1-pics11{
  position: fixed;
  max-width: 110px;
  max-height: 170px;
  border-radius: 5px;
  margin: 5px;
  margin-top: 100px;
  margin-left: 1170px;
}
.Page1-pics12{
  position: fixed;
  max-width: 110px;
  max-height: 170px;
  border-radius: 5px;
  margin: 5px;
  margin-top: 180px;
  margin-left: 1170px;
}
.Page1-pics13{
  position: fixed;
  max-width: 110px;
  max-height: 170px;
  border-radius: 5px;
  margin: 5px;
  margin-top: 200px;
  margin-left: 260px;
}
.Page1-pics14{
  position: fixed;
  max-width: 110px;
  max-height: 170px;
  border-radius: 5px;
  margin: 5px;
  margin-top: 100px;
  margin-left: 780px;
}

.Page1-pics1:hover{
  position: fixed;
  max-width: 400px;
  max-height: 450px;
  border-radius: 5px;
  margin: 5px;
  margin-top: -400px;
  margin-left: 500px;
}
.Page1-pics2:hover{
  position: fixed;
  max-width: 400px;
  max-height: 450px;
  border-radius: 5px;
  margin: 5px;
  margin-top: -400px;
  margin-left: 500px;
}
.Page1-pics3:hover{
  position: fixed;
  max-width: 400px;
  max-height: 450px;
  border-radius: 5px;
  margin: 5px;
  margin-top: -400px;
  margin-left: 500px;
}
.Page1-pics4:hover{
  position: fixed;
  max-width: 400px;
  max-height: 450px;
  border-radius: 5px;
  margin: 5px;
  margin-top: -400px;
  margin-left: 500px;
}
.Page1-pics5:hover{
  position: fixed;
  max-width: 400px;
  max-height: 450px;
  border-radius: 5px;
  margin: 5px;
  margin-top: -400px;
  margin-left: 500px;
}
.Page1-pics6:hover{
  position: fixed;
  max-width: 400px;
  max-height: 450px;
  border-radius: 5px;
  margin: 5px;
  margin-top: -400px;
  margin-left: 500px;
}
.Page1-pics7:hover{
  position: fixed;
  max-width: 400px;
  max-height: 450px;
  border-radius: 5px;
  margin: 5px;
  margin-top: -400px;
  margin-left: 500px;
}
.Page1-pics8:hover{
  position: fixed;
  max-width: 400px;
  max-height: 450px;
  border-radius: 5px;
  margin: 5px;
  margin-top: -400px;
  margin-left: 500px;
}
.Page1-pics9:hover{
  position: fixed;
  max-width: 400px;
  max-height: 450px;
  border-radius: 5px;
  margin: 5px;
  margin-top: -400px;
  margin-left: 500px;
}
.Page1-pics10:hover{
  position: fixed;
  max-width: 400px;
  max-height: 450px;
  border-radius: 5px;
  margin: 5px;
  margin-top: -400px;
  margin-left: 500px;
}
.Page1-pics11:hover{
  position: fixed;
  max-width: 400px;
  max-height: 450px;
  border-radius: 5px;
  margin: 5px;
  margin-top: -400px;
  margin-left: 500px;
}
.Page1-pics12:hover{
  position: fixed;
  max-width: 400px;
  max-height: 450px;
  border-radius: 5px;
  margin: 5px;
  margin-top: -400px;
  margin-left: 500px;
}
.Page1-pics13:hover{
  position: fixed;
  max-width: 400px;
  max-height: 450px;
  border-radius: 5px;
  margin: 5px;
  margin-top: -400px;
  margin-left: 500px;
}
.Page1-pics14:hover{
  position: fixed;
  max-width: 400px;
  max-height: 450px;
  border-radius: 5px;
  margin: 5px;
  margin-top: -400px;
  margin-left: 500px;
}






.home .shawnbio{
  
  max-width: 35%;
  width: 80%;
  margin-top: -47%;
  margin-left: 50%;
  
  border-radius: 10px;
  box-sizing: border-box;
  width: 100%;
  border: solid #f8d7d7 10px;
  padding: 40px;
  box-shadow: 0 20px 20px 20px rgba(255, 255, 255, 0.3);
  color:white;
}


.home{
  margin-top: 170px;
  margin-left: 400px;
  
}
.home h1{
font-size: 80px;
font-weight: bold;
text-shadow:10px 10px 10px #3f3f3f;
margin-top: 200px;
font-family: Comfortaa;
  
}

.typearea{
  margin-left:250px;
  margin-top: 150px;
 
}
.typearea_application{
  margin-left:250px;
  margin-top: 150px;
  max-height: 50em;
}
.typearea_application p{
  display: block;/* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 60em;
  line-height: 1.4em;
  columns: 2;


}

.typearea h1{
  font-size: 40px;
}

.appgithub{
  font-size: 28px;
}

.resumePreview{
  cursor: grab;
}

.experience{
  font-family: Comfortaa;
  height: 4000px;
  display: inline-block;/* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow:auto;
  width: 1500px;
  max-height: 40em;
  max-width: 100em;
  line-height: 1.7em;  
}


.navber{
  background-color: lightblue;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
 
}

.menu-bars{
 
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  text-align:center;
  
}
.nav-menu{
  background-color: rgb(133, 81, 81);
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  text-align: center;

  left: -100%;
  transition: 850ms;
}

.nav-menu.active{
  left: -50px;
  transition: 350ms;
}
.nav-text{
  display: flex;
  justify-content: start;
  align-items: center;
 
  list-style: none;
  height: 60px;
}

.nav-text a{
  text-decoration: none;
  color: White;
  font-size: 18px;
  width: 140%;
  height: flex;
  align-items: center;
  background-color: rgb(133, 81, 81);
  border-radius: 4px;
}

.nav-text :hover{
  background-color: rgb(165, 170, 245);
}
.nav-menu-items {
  width: 100%;
}

.navbar-toggle{

  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;

}

span{
  margin-left: 16px;
  margin-top: 16px;
  font-family: 'Indie Flower', cursive;
}


.nav-color{
  position:fixed;
  background-color: rgb(218, 127, 127);
  width: 100%;
  height: 130px;
  text-decoration: none;
  margin-top: 0px;

}



/* li{
  background-color: rgb(133, 81, 81);
} */

.bgcolor{
  background: linear-gradient(-45deg, #df6d6d 50%, #ffc4c4 50%);
  height: 1000px;
  transition: background-color 0.5s ease;
}

