* {
  font-family: Comfortaa;
}
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

.home Img {
  position: fixed;
  height:auto;
  margin-top: -260px;
  margin-left: -70px;
  border-radius: 30%;
  max-width: 80%;
  max-height: 80%;
}

.home .shawnbio{
  
  max-width: 35%;
  width: 80%;
  margin-top: -10%;
  margin-left: 50%;
  
  border-radius: 10px;
  box-sizing: border-box;
  width: 100%;
  border: solid #f8d7d7 10px;
  padding: 40px;
  box-shadow: 0 20px 20px 20px rgba(255, 255, 255, 0.3);
  color:white;
}


.home{
  margin-top: 170px;
  margin-left: 400px;
  
}
.home h1{
font-size: 80px;
font-weight: bold;
text-shadow:10px 10px 10px #3f3f3f;
margin-top: 200px;
  
}

.typearea{
  margin-left:250px;
  margin-top: 150px;
}
.typearea h1{
  font-size: 40px;
}

.appgithub{
  font-size: 28px;
}




.navber{
  background-color: lightblue;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
 
}

.menu-bars{
 
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  text-align:center;
}
.nav-menu{
  background-color: rgb(133, 81, 81);
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  text-align: center;

  left: -100%;
  transition: 850ms;
}

.nav-menu.active{
  left: -50px;
  transition: 350ms;
}
.nav-text{
  display: flex;
  justify-content: start;
  align-items: center;
 
  list-style: none;
  height: 60px;
}

.nav-text a{
  text-decoration: none;
  color: White;
  font-size: 18px;
  width: 140%;
  height: flex;
  align-items: center;
  background-color: rgb(133, 81, 81);
  border-radius: 4px;
}

.nav-text :hover{
  background-color: rgb(165, 170, 245);
}
.nav-menu-items {
  width: 100%;
}

.navbar-toggle{

  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;

}

span{
  margin-left: 16px;
  margin-top: 16px;

}


.nav-color{
  position:fixed;
  background-color: rgb(218, 127, 127);
  width: 100%;
  height: 130px;
  text-decoration: none;
  margin-top: 0px;

}



li{
  background-color: rgb(133, 81, 81);
}

.bgcolor{
  background: linear-gradient(-45deg, #df6d6d 50%, #ffc4c4 50%);
  height: 970px;
  transition: background-color 0.5s ease;
}

